{% extends "base.html" %}

{% block conteudo %}
<h1>{{ titulo }}</h1>

<div class="d-flex align-items-start gap-4">

    <form method="POST" class="flex-grow-1">

        <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" name="name" value="{{ usuario.name }}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" name="email" value="{{ usuario.email }}" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Nova Senha (opcional)</label>
            <input type="password" name="password" class="form-control" placeholder="Deixe vazio para não alterar">
        </div>

        <div class="mb-3">
            <label class="form-label">Perfil</label>
            <select name="perfil" class="form-select" required>
                {% for p in perfis %}
                    <option value="{{ p.name }}" 
                        {% if usuario.perfil.name == p.name %}selected{% endif %}>
                        {{ p.value }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a class="btn btn-secondary" href="{{ url_for('listar_usuarios') }}">Voltar</a>

    </form>
</div>
{% endblock %}
