{% extends 'base.html' %}
{% block conteudo %}

<h1>{{ titulo }}</h1>

<div class="container mt-4">
    
    <div class="d-flex justify-content-between mb-3">
        <a href="{{ url_for('cadastrar_usuario') }}" class="btn btn-success">Criar Usuário</a>
    </div>

    <div class="text-center">
        <table class="table table-bordered mx-auto" style="width: 80%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Perfil</th>
                    <th colspan="4" class="text-center">Ações</th>
                </tr>
            </thead>

            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.name }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.perfil.value }}</td>

                    <td>
                        <a class="btn btn-primary" href="{{ url_for('editar_usuario', id=usuario.id) }}">Editar Usuário</a>
                        <a class="btn btn-danger" href="{{ url_for('deletar_usuario', id=usuario.id) }}">Deletar Usuário</a>
                    </td>
                </tr>

                {% else %}
                <tr>
                    <td colspan="5" class="text-center">
                        Nenhum usuário encontrado!
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
